body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    }
    header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
    }
    nav {
    margin-top: 10px;
    }
    nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    }
    .hero {
    text-align: center;
    padding: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    1
    2
    3
    4
    5
    6
    7
    8
    9
    10
    11
    12
    13
    14
    15
    16
    17
    18
    19
    20
    21
    22
    23
    24
    25
    26
    27
    28
    29
    30
    31
    
    Commit-2
    
    STEP-7 Create Remaining Pages
    Create:
    about.html
    projects.html
    contact.html
    Use same navbar and footer in all pages.
    }
    .student-details {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    }
    section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    }
    footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    }